snippet fn "Function" 
/**
 * $3.
 */
function ${1:LaunchMissiles}(${2:num}) {
    $0
}
endsnippet

snippet log "Log object to console" 
console.log('$1', $1);
endsnippet

snippet resolve "Get resolved data" 
var $1 = state.getResolved('$1');
endsnippet

snippet att "Object attribute"
$1: ${2:$1},
endsnippet

snippet doc "function documentation"
/**
 * $0.
 */
endsnippet
