snippet h1 "Heading level 1" 
= $0 =
endsnippet

snippet h2 "Heading level 2" 
== $0 ==
endsnippet

snippet h3 "Heading level 3" 
=== $0 ===
endsnippet

snippet h4 "Heading level 4" 
==== $0 ====
endsnippet

snippet h5 "Heading level 5" 
===== $0 =====
endsnippet

snippet todo "Todo list (list of checkboxes)" 
- [ ] $0
endsnippet

snippet table "A table" 
|--|---|
| $0 |   |
|--|---|
|  |   |
|--|---|
endsnippet
